# phpstorm project files
.idea

# netbeans project files
nbproject

# composer vendor dir
/vendor
/examples/vendor
/examples/composer.lock

# composer itself is not needed
composer.phar

# Env settings
.env
